html {
  font-size: 62.5%;
}

.title {
  margin: 0 auto;
  padding: 5rem 0 2rem 0;
  width: 100%;
  background-color: #444;
  color: #DDD;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #222;
}

.gallery {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BBB;
}

h1 {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 10rem;
}

h2 {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 6rem;
}

img {
  margin: 5rem auto;
  max-width: 80vw;
  border-style: solid;
  border-width: 3px;
  border-color: #FFF;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem #888;
}
